<?xml version="1.0"?>
<model>
  <name>wave_rover</name>
  <version>1.0</version>
  <sdf version="1.7">wave_rover.sdf</sdf>
  <author>
    <name>Louise Bilous</name>
    <email>bilouslouise@gmail.com</email>
  </author>
  <description>A 4-wheel differential drive rover with camera</description>
</model>

